

{% extends "base.html" %}

{% block title %} BOGGLE HOME {% endblock %}


{% block content %}




<h1>Ready to play Boggle?</h1>
<br>

<section id="boggle">
<div class="table">
<table class="board">
    <tbody>
        {% for row in board %}
            <tr>
                {% for cell in row %}
                    <td>{{cell}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

      <p>High Score: 
        <b>{{ highscore }}</b> 
        in {{ nplays }} plays
      </p>

      <p>
        Score: <b class="score">0</b>
        Seconds Left: <b class="timer"></b>
      </p>

      <form method="POST" class="add-word">
        <input name="word" class="word" autofocus>
        <button>Enter</button>
      </form>

      <p class="msg">
        <!-- our JS will put messages here dynamically -->
      </p>

      <ul class="words">
        <!-- our JS will words here as they score -->   
      </ul>



</section>



{% endblock %}
